h3 {
	font-size: 32px; 
	font-family: verdana; 
	text-align: center; 
	margin-top: 10%; 
	width: auto; 
	height: auto;
}

img {
	margin: auto;
	font-family: sans-serif;
	font-size: 24px;
	width: auto;
	height: auto;
	align-items: center;
}